{% extends 'base.html' %}
{% block title %} I need to say something {% endblock %}
{% block content %}
    <div class="container">
        <form name="my form" action="/" method="GET">
            <label for="user_id"> Your ID: </label>
            <input id="user_id" type="text" name="user_id">
            <label for="user_pass"> Your Password: </label>
            <input id="user_pass" type="password" name="user_pass">
            <input type="submit" value="login">
            <input type="reset" value="reset">
            <label for="byear">Birth year: </label>
            <select name="byear">
                {% for year in years %}
                    <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
            </select><br>
            <label for="ufcolor">Your favorite color</label>
            <input type="checkbox" name="fcolor" value="Green">Green
            <input type="checkbox" name="fcolor" value="Red">Red
            <input type="checkbox" name="fcolor" value="Blue">Blue
            <input type="checkbox" name="fcolor" value="Yellow">Yellow
            <input type="checkbox" name="fcolor" value="Orange">Orange
        </form>
        Your ID: {{ urid }}<br><br>
        {% if verified %}
            <em>You have passed the verification</em><br><br>
        {% else %}
            <em> Incorrect Password ot User ID </em><br><br>
        {% endif %}

        Your favorite color:
        {% for c in urfcolor %}
            {{ c }}&nbsp;&nbsp;
        {% endfor %}
        {% for d in yearok %}
            <p>Your birth year is {{ d }}</p>
        {% endfor %}
    </div>
{% endblock %}